@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

@import "~bulma/sass/utilities/initial-variables";

$family-sans-serif: 'Noto Sans JP';

@import "~bulma";

@include desktop {
  .navbar {
    max-width: $desktop - (2 * $gap);
    margin: 0 auto;
  }
}
